{% extends 'app/dummy.html' %}

{% block title%}
<title>create School</title>

{% endblock %}
{% block body %}
{% if form.instance.pk %}
<h1>Update School</h1>
{% else %}
    <h1>Create New School</h1>
{% endif %}
    <form  method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {% if form.instance.pk %}
        <input type="submit" value="Update" class="btn btn-outline-primary">
    {% else %}
        <input type="submit" value="Create" class="btn btn-outline-primary">
    {% endif %}
    </form>
    
{% endblock %}